    .textfield {
        margin: 5px !important;
    }

    .paper {
        padding: 5px;
    }

    .head {
        font-size: 25px;
        margin: 0px;
    }

    .form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .fileInput {
        width: 97%;
        margin: 10px 0;
    }

    .buttonSubmit {
        margin-bottom: 10px !important;
        margin-right: 5px !important;
        background: coral !important;
    }

    .buttonClear {
        margin-bottom: 10px !important;
        background-color: cornflowerblue !important;
    }