.appBar {
    border-radius: 15px;
    margin: 20px 0 !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0px 20px !important;
}

.image {
    margin-left: 15px !important;
}

.title {
    color: black;
    text-decoration: none;
}
.btn {
    color: white;
    text-decoration: none;
}

.profile {
    display: flex;
}

.brandContainer {
    display: flex;
    align-items: center;
}

.userName {
    margin: 0px 5px;
    padding-top: 10px;
}