.AppBar {
  border-radius: 15px;
  margin: 30px 0; 
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}

.title {
  font-size: 50px;
  margin: 0px;
}

.image {
  margin-left:15px !important;
}